.brands {
    background-color: rgba(0, 0, 0, 1);
}

.container {}

.container__brands {
    padding: 0 101px;
}

.brands__in {
    @include felx2();
    justify-content: space-between;
}

.brands__img {
    padding: 44px 0;
}