.selling {}

.container {}

.container__selling {
    padding: 0 100px;
}

.selling__in {}

.selling__line {
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
}

.selling__title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 64px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 48px;
    font-style: bold;
}

.selling__boxes {
    @include felx2();
    gap: 20px;
    justify-content: center;
    margin-top: 55px;
}

.selling__box {}

.selling__box--img {}

.selling__comment--box {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
    margin-top: 16px;
}

.selling__box--flexscore {
    @include felx2();
    gap: 13px;
    margin-top: 8px;
}

.selling__score--img {}

.selling__score--comment {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.score__span {
    color: rgba(0, 0, 0, 0.6);
}

.selling__cost--flex {
    @include felx2();
    gap: 12px;
}

.selling__box--cost {
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
}

.selling__box--costdecor {
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.4);
}

.selling__box--sale {
    background-color: rgba(255, 51, 51, 0.1);
    color: rgba(255, 51, 51, 1);
    font-size: 12px;
    font-weight: 500;
    padding: 6px 13.5px;
    margin-top: 8px;
    border-radius: 62px;
}

.selling__btn {
    margin-top: 36px;
    padding: 15px 80px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    display: flex;
    margin-left: 500px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 80px;
}