.hero {
    background-image: url(/static/assets/elbek/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 663px;
}

.container {
}

.container__hero {
    padding: 0 100px;
}

.hero__title {
    font-size: 64px;
    font-weight: 700;
    font-style: bold;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    padding-top: 103px;
}

.hero__comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 32px;
}

.hero__btn {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    padding: 15px 67.5px;
    margin-top: 32px;
    border-radius: 62px;
}

.hero__flex {
    display: flex;
    align-items: center;
    margin-top: 38px;
}


.hero__title--statistic {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    font-family: "Satoshi";
}

.hero__comment--statistics {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.hero__line {
    width: 1px;
    height: 80px;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(18px);
    margin-right: 32px;
    margin-left: 32px;
}