.style {}

.container {}

.container__style {
    padding: 0 100px;
}

.style__in {
    background-color: rgba(240, 240, 240, 1);
    border-radius: 40px;
    text-align: center;
}

.style__title {
    padding-top: 70px;
    font-weight: 700;
    font-size: 48px;
    font-style: bold;
    color: rgba(0, 0, 0, 1);
}

.style__flex {
    @include felx2();
    gap: 20px;
    justify-content: center;
}

.style__img {
}

.style__img2 {
    margin-top: 20px;
    margin-bottom: 76px;
}