@import "./__generals";
@import "./__mixins";
@import "./__normalize";
@import "./__variables";
@import "./Home/__home";
@import "./Product/_product";
<<<<<<< HEAD
@import "./Category/_category";
=======
@import "./cart/_cart";
>>>>>>> 42df5b9 (fera part end)
